{% extends 'base.html.twig' %}

{% use 'content.html.twig' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content_stylesheets %}

{% endblock content_stylesheets %}
    
{% block content_javascripts %}
    <script type="text/javascript" src="{{ asset('js/order-view.js') }}"></script>

{% endblock content_javascripts %}

{% block block_content %}
            <div class="content-wrap">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="nest" id="FootableClose">
                            <div class="title-alt">
                                <h6>
                                {% if porder==null %}
                                    Заказ № - от -
                                {% else %}
                                    Заказ № {{ porder.getOrderId() }} от {{ porder.getOrderDate()|date('d.m.Y') }}
                                {% endif %}
                                </h6>

                            </div>


                            <div class="body-nest" id="validation">
                                <div class="form_center">
                                    
                                    {% if porder == null %}
                                        {% set porderid = 'new' %}
                                    {% else %}
                                        {% set porderid = porder.orderid() %}
                                    {% endif %}


                                    <form action="{{ path('order_edit',{'porderid': porderid}) }}" id="porder-form" class="form-horizontal" method="post" >
                                        <fieldset>
                                                        
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >От</label>
                                                        <div class="col-lg-9">
                                                        {% if porder==null %}
                                                            <h4>{{ user.Company.CompName() }}</h4>
                                                        {% else %}
                                                            <h4>{{ porder.getCompanyFrom().getCompName() }}</h4>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >Контрагент</label>
                                                        <div class="col-lg-9">
                                                        {% if (porder==null) %}

                                                            <select class="form-control" name="o_companyto" id="o_companyto" value="">
                                                                <option selected value="{{ user.getCompany().getParent().getCompanyId() }}" >{{ user.getCompany().getParent().getCompName() }}</option>
                                                            </select>

                                                        {% elseif porder.getCompanyCreate().getCompanyId()==user.getCompany().getCompanyId() %}
                                                            
                                                            <select class="form-control" name="o_companyto" id="o_companyto" value="">
                                                                <option value="{{ user.getCompany().getParent().getCompanyId() }}" 
                                                                        {% if porder.getCompanyTo().getCompanyId()==user.getCompany().getParent().getCompanyId() %}
                                                                            selected
                                                                        {% endif %}
                                                                        >{{ user.getCompany().getParent().getCompName() }}</option>
                                                                </select>

                                                            {#<select class="form-control" name="o_companyto" id="o_companyto" value="">
                                                                <option value=""></option>
                                                                {% for pcompany in pinsurancecompanylist %}
                                                                <option value="{{ pcompany.getCompanyId() }}">{{ pcompany.getCompName() }}</option>
                                                                {% endfor %}
                                                            </select>#}
                                                            
                                                        {% else %}
                                                            <h4>{{ porder.getCompanyTo().getCompName() }}</h4>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >Создал</label>
                                                        <div class="col-lg-9">
                                                        {% if porder==null %}
                                                            <h4>{{ user.getFio() }}</h4>
                                                        {% else %}
                                                            <h4>{{ porder.getUserCreate().getFio() }}</h4>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >Отправил</label>
                                                        <div class="col-lg-9">
                                                        {% if porder==null %}

                                                        {% else %}
                                                            <h4>{{ porder.getUserFrom().getFio() }}</h4>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >Получил</label>
                                                        <div class="col-lg-9">
                                                        {% if porder==null %}

                                                        {% else %}
                                                            <h4>{{ porder.getUserTo().getFio() }}</h4>
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                                        
                                            <div class="form-actions" style="margin:20px 0 0 0;">
                                            
                                                {% if submitbtn1 != null %}
                                                    <a href="#" class="btn" style=" background-color: {{ submitbtn1.getColor() }}" id="submitbtn1"
                                                       onclick="submitBtn({{ submitbtn1.getOrderSignId() }})"
                                                       >{{ submitbtn1.getBtnName() }}</a>
                                                {% endif %}
                                            
                                                {% if submitbtn2 != null %}
                                                    <a href="#" class="btn" style=" background-color: {{ submitbtn2.getColor() }}" id="submitbtn2"
                                                       onclick="submitBtn({{ submitbtn2.getOrderSignId() }})"
                                                        >{{ submitbtn2.getBtnName() }}</a>
                                                {% endif %}

                                                {% if submitbtn3 != null %}
                                                    <a href="#" class="btn" style=" background-color: {{ submitbtn3.getColor() }}" id="submitbtn3"
                                                       onclick="submitBtn({{ submitbtn3.getOrderSignId() }})"
                                                       >{{ submitbtn3.getBtnName() }}</a>
                                                {% endif %}

                                                {% if submitbtn4 != null %}
                                                    <a href="#" class="btn" style=" background-color: {{ submitbtn4.getColor() }}" id="submitbtn4"
                                                       onclick="submitBtn({{ submitbtn4.getOrderSignId() }})"
                                                       >{{ submitbtn4.getBtnName() }}</a>
                                                {% endif %}
                                                
                                                <input type="hidden" name="o_orderid" id="o_orderid" value="{{ porderid }}" >
                                                <input type="hidden" name="o_ordersign" id="o_ordersign" value="" >
                                                
                                                <a href="{{ path('order_list') }}" class="btn">Назад</a>
                                            </div>
                                            
                                            <div class="form-actions" style="margin:20px 0 0 0;">
                                            {% for usersign in ordersignlist %}
                                                <a href="#" class="btn" style=" background-color: {{ usersign.getColor() }}">{{ usersign.getBtnName() }}</a>
                                            {% endfor %}
                                            
                                            </div>
                                        </fieldset>
                                    </form>
                                            
                                </div>
                            </div>
                                

                        </div>
                                            
                        <div class="nest" id="FootableClose">
                            <div class="title-alt">
                                <h6>
                                Дополнительные действия</h6>

                            </div>
                            <div class="body-nest" id="validation">
                                <div class="form_center">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="control-group">
                                                <a class="btn" href="{{ path('order_view',{'porderid': 'new', 'ptype': '20'}) }}"><span class="fontawesome-asterisk"></span> АКТ дозаказа</a>
                                                <a class="btn" href="{{ path('order_view',{'porderid': 'new', 'ptype': '30'}) }}"><span class="fontawesome-asterisk"></span> АКТ возврата чистых</a>
                                                <a class="btn" href="{{ path('order_view',{'porderid': 'new', 'ptype': '40'}) }}"><span class="fontawesome-asterisk"></span> АКТ возврата порченых</a>
                                                <a class="btn" href="{{ path('order_view',{'porderid': 'new', 'ptype': '50'}) }}"><span class="fontawesome-asterisk"></span> АКТ об утерии</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            
                        </div>

                    </div>

                </div>
            </div>
    
    <script type="text/javascript" src="{{ asset("assets/js/inputMask/jquery.maskedinput.js") }}"></script>
    <script type="text/javascript">
        // MASKED INPUT

        $("#o_dateend").mask("99/99/9999", {
            completed: function() {
                //alert("Your birthday was: " + this.val());
            }
        });
        $("#o_datebegin").mask("99/99/9999", {
            completed: function() {
                //alert("Your birthday was: " + this.val());
            }
        });
        
    </script>


{% endblock block_content %}