    {#<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
    
    <link href="{{ asset('assets/js/footable/css/footable.core.css?v=2-0-1') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/js/footable/css/footable.standalone.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/js/footable/css/footable-demos.css') }}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{ asset('assets/js/dataTable/lib/jquery.dataTables/css/DT_bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/js/dataTable/css/datatables.responsive.css') }}" />
    #}

    <!-- data -->
                    
    <div class="row">
        <div class="col-sm-12">
            <div class="form-actions">
                <button class="btn pull-left btn-primary" id="bt_add" onclick="return false;"><span class="entypo-check"></span> Добавить</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
                <div class="table-wrap">
                    <div class="body-nest" id="Footable">

                        {#<p class="lead well">FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome - No matter how many columns of data you may have in them. And it's responsive i think this better than DataTable in some way</p>#}
                        <div id="blank_row" style="display: none; ">
                            <tr>
                                <td data-name="sel"><input type="checkbox" value=""></td>
                                <td data-name="company" data-value=""></td>
                                <td data-name="party"></td>
                                <td data-name="date-from"></td>
                                <td data-name="date-to"></td>
                                <td data-name="person"></td>
                                <td data-name="title"></td>
                                <td data-name="count"></td>
                            </tr>
                        </div>

                        <table id="prod_list" class="table-striped footable-res footable metro-blue" data-page-size="12">
                            <thead>
                                <tr>
                                    <th ></th>
                                    <th data-title="company">Поставщик</th>
                                    <th data-title="party">Партия</th>
                                    <th data-title="date-from">Дата от</th>
                                    <th data-title="date-to">Дата до</th>
                                    <th data-title="person">Доступ</th>
                                    <th data-title="title">Наименование</th>
                                    <th data-title="cnt">На складе</th>
                                    <th data-title="cnt_a">У агента</th>
                                    <th data-title="cnt_alost">Утеряно</th>
                                    <th data-title="cnt_abad">Испорчено</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for pprod in pprodList %}
                            <tr>
                                <td data-name="sel"><input type="checkbox" value="{{ pprod['parent_id'] }}"></td>
                                <td data-name="company" data-value="{{ pprod['company_id'] }}">{{ pprod['comp_name'] }}</td>
                                <td data-name="party">{{ pprod['party'] }}</td>
                                <td data-name="date-from">{{ pprod['date_from']|date('d.m.Y') }}</td>
                                <td data-name="date-to">{{ pprod['date_to']|date('d.m.Y') }}</td>
                                <td data-name="person">{{ pprod['person_name'] }}</td>
                                <td data-name="title">{{ pprod['title'] }}</td>
                                <td data-name="cnt">{{ pprod['cnt'] }}</td>
                                <td data-name="cnt_a">{{ pprod['cnt_a'] }}</td>
                                <td data-name="cnt_alost">{{ pprod['cnt_alost'] }}</td>
                                <td data-name="cnt_abad" >{{ pprod['cnt_abad'] }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="11">
                                        <div class="pagination pagination-centered"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
        </div>
    </div>
    <!-- /data -->

                                            
    <!-- Data table JavaScript -->
    
    {#
    <script src="{{ asset('js/editable-table/mindmup-editabletable.js') }}"></script>

    <script type="text/javascript">
        $('#prod_list').editableTableWidget({editor: $('<input>')}).numericInputExample();
    </script>
    #}
    
    <script src="{{ asset('assets/js/footable/js/footable.js?v=2-0-1') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/footable/js/footable.sort.js?v=2-0-1') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/footable/js/footable.paginate.js?v=2-0-1') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
    $(function() {
        $('.footable-res').footable();
    });
    </script>
