{% extends 'base.html.twig' %}

{% use 'content.html.twig' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content_stylesheets %}

{% endblock content_stylesheets %}
    
{% block content_javascripts %}

{% endblock content_javascripts %}

{% block block_content %}
            <div class="content-wrap">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="nest" id="FootableClose">
                            <div class="title-alt">
                                <h6>
                                    Журнал АКТов</h6>
                                {#<div class="titleClose">
                                    <a class="gone" href="#FootableClose">
                                        <span class="entypo-cancel"></span>
                                    </a>
                                </div>
                                <div class="titleToggle">
                                    <a class="nav-toggle-alt" href="#Footable">
                                        <span class="entypo-up-open"></span>
                                    </a>
                                </div>#}

                            </div>

                            {% if (can_create) %}

                                {% if user.getCompany().getType()==1 %}
                                <div class="body-nest" id="Footable">
                                    <a class="btn" href="{{ path('order_view',{'porderid': 'new', 'ptype': '10'}) }}"><span class="fontawesome-asterisk"></span> АКТ приема </a>
                                </div>
                                {% endif %}
                                {% if user.getCompany().getType()==3 %}
                                <div class="body-nest" id="Footable">
                                    <a class="btn" href="{{ path('order_view',{'porderid': 'new', 'ptype': '110'}) }}"><span class="fontawesome-asterisk"></span> АКТ приема </a>
                                </div>
                                {% endif %}
                            {% endif %}
                            
                            <div class="body-nest" id="Footable">

                                {#<p class="lead well">FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome - No matter how many columns of data you may have in them. And it's responsive i think this better than DataTable in some way</p>#}

                                <table class="table-striped footable-res footable metro-blue" data-page-size="6">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Стр. компания
                                            </th>
                                            <th>
                                                Кол.-во
                                            </th>
                                            <th>
                                                Номер от
                                            </th>
                                            <th>
                                                Номер до
                                            </th>
                                            <th>
                                                Дата от
                                            </th>
                                            <th>
                                                Дата до
                                            </th>
                                            <th data-hide="phone,tablet">
                                                Квит. от
                                            </th>
                                            <th data-hide="phone,tablet">
                                                Квит. до
                                            </th>
                                            <th>
                                                Статус
                                            </th>
                                            <th>
                                                Компания
                                            </th>
                                            <th>
                                                Агент
                                            </th>
                                            <th>
                                                Причина
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
    {% for polis in polisList %}
                                        <tr>
                                            <td data-value="{{ polis.getId() }}"><a href="#">{{ polis.getId() }}</a></td>
                                            <td>{{ polis.getTrMake() }}</td>
                                            <td>{{ polis.getTrModel() }}</td>
                                            <td>{{ polis.getTrYear() }} ({{ polis.getTrTrueYear() }})</td>
                                            {#<td>{{ polis.getTrPower() }}</td>
                                            <td>{{ polis.getTrTs() }}</td>
                                            <td>{{ polis.getTrDocSerya() }}-{{ polis.getTrDocNumber() }}</td>
                                            <td>{{ polis.getTrDocDate()|date("d/m/Y") }} ({{ polis.getTrDocTrue_date()|date("d/m/Y") }})</td>
                                            <td>{{ polis.getTrVinType() }}</td>
                                            <td>{{ polis.getTrVinNumber() }}</td>#}
                                            <td>{{ polis.getTrCarNumber() }}</td>
                                            <td>{{ polis.getOwnerSurname() }}</td>
                                            <td>{{ polis.getOwnerName() }}</td>
                                            {#<td>{{ polis.getOwnerMiddlename() }}</td>#}
                                            {# <td>{{ polis.getOwnerNoMiddlename() }}</td> #}
                                            {#<td>{{ polis.getOwnerBirthday()|date("d/m/Y") }} ({{ polis.getOwnerTrueBirthday()|date("d/m/Y") }})</td>
                                            <td>{{ polis.getOwnerPaspSerya() }}-{{ polis.getOwnerPaspNumber() }}</td>
                                            <td>{{ polis.getOwnerPaspDate()|date("d/m/Y") }} ({{ polis.getOwnerPaspTrueDate()|date("d/m/Y") }})</td>
                                            <td>{{ polis.getRegCity() }}, {{ polis.getRegStateType() }} {{ polis.getRegState() }}, {{ polis.getRegStreet() }}, {{ polis.getRegNhome() }}, кв {{ polis.getRegNflat() }}</td>
                                            <td>{{ polis.getRegTerritoryRatio() }}</td>#}
                                            <td>{{ polis.getPolisStartDate()|date("d/m/Y") }}</td>
                                            <td data-value="1">
                                                <span class="status-metro status-active" title="Active">Active</span>
                                            </td>
                                            <td data-value="1">
                                                <a href="/polis-xls/{{ polis.getId() }}"><i class="icon-export" title='Export to Excel' ></i></a>
                                            </td>
                                        </tr>
    {% else %}
        <tr>
            <td>Пусто</td>
        </tr>
    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="10">
                                                <div class="pagination pagination-centered"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </div>


                    </div>

                </div>
            </div>
    
    <!-- GAGE -->
    <script type="text/javascript" src="assets/js/toggle_close.js"></script>
    <script src="assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
    <script src="assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
    <script src="assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
    <script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>




    <script type="text/javascript">
    $(function() {
        $('.footable-res').footable();
    });
    </script>
    <script type="text/javascript">
    $(function() {
        $('#footable-res2').footable().bind('footable_filtering', function(e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0) {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });

        $('.clear-filter').click(function(e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function(e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', {
                filter: $('#filter').val()
            });
        });

        $('.filter-api').click(function(e) {
            e.preventDefault();

            //get the footable filter object
            var footableFilter = $('table').data('footable-filter');

            alert('about to filter table by "tech"');
            //filter by 'tech'
            footableFilter.filter('tech');

            //clear the filter
            if (confirm('clear filter now?')) {
                footableFilter.clearFilter();
            }
        });
    });
    </script>


{% endblock block_content %}