{% extends 'base.html.twig' %}

{% block body %}
    
<style type=”text/css”>
    
.table {
    display: table;
    width: 500px;
    margin:0 auto;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}

.table, .table-row, .table-cell {
    display: block;
    float: left;
}
.table-cell {
    clear: right;
    zoom: 1;
}
.table {
    overflow: hidden;
    position: relative;
}
    
</style>

{# <table border="1" cellpadding="5" style="border-collapse: collapse; border: 1px solid black;"> 
    
    <tr style="background-color: #cccccc">
    </tr> #}
    

<div class="table" style=" width: 1200px; margin:0 auto;">
    <ul class="table-row">
        <li class="table-cell">№</li>
        <li class="table-cell">Марка</li>
        <li class="table-cell">Модель</li>
        <li class="table-cell">Год выпуска (реальный)</li>
        <li class="table-cell">Мощность</li>
        <li class="table-cell">(СТС или ПТС)Тс</li>
        <li class="table-cell">Серия-номер</li>
        <li class="table-cell">Дата выдачи(реальная)</li>
        <li class="table-cell">VIN|Кузов|Шасси</li>
        <li class="table-cell">Номер</li>
        <li class="table-cell">Гос.номер</li>
        <li class="table-cell">Фамилия</li>
        <li class="table-cell">Имя</li>
        <li class="table-cell">Отчество</li>
        <li class="table-cell">День рождения (реальная)</li>
        <li class="table-cell">Серия-номер пасп.</li>
        <li class="table-cell">Дата выдачи (реальная)</li>
        <li class="table-cell">Адрес рег.</li>
        <li class="table-cell">Коэф.терр.</li>
        <li class="table-cell">Полис действ. с</li>
    </ul>
   
    {% for polis in polisList %}
        
    <ul class="table-row">
        <li class="table-cell">{{ polis.getId() }}</li>
        <li class="table-cell">{{ polis.getTrMake() }}</li>
        <li class="table-cell">{{ polis.getTrModel() }}</li>
        <li class="table-cell">{{ polis.getTrYear() }} ({{ polis.getTrTrueYear() }})</li>
        <li class="table-cell">{{ polis.getTrPower() }}</li>
        <li class="table-cell">{{ polis.getTrTs() }}</li>
        <li class="table-cell">{{ polis.getTrDocSerya() }}-{{ polis.getTrDocNumber() }}</li>
        <li class="table-cell">{{ polis.getTrDocDate()|date("d/m/Y") }} ({{ polis.getTrDocTrue_date()|date("d/m/Y") }})</li>
        <li class="table-cell">{{ polis.getTrVinType() }}</li>
        <li class="table-cell">{{ polis.getTrVinNumber() }}</li>
        <li class="table-cell">{{ polis.getTrCarNumber() }}</li>
        <li class="table-cell">{{ polis.getOwnerSurname() }}</li>
        <li class="table-cell">{{ polis.getOwnerName() }}</li>
        <li class="table-cell">{{ polis.getOwnerMiddlename() }}</li>
        {# <li class="table-cell">{{ polis.getOwnerNoMiddlename() }}</li> #}
        <li class="table-cell">{{ polis.getOwnerBirthday()|date("d/m/Y") }} ({{ polis.getOwnerTrueBirthday()|date("d/m/Y") }})</li>
        <li class="table-cell">{{ polis.getOwnerPaspSerya() }}-{{ polis.getOwnerPaspNumber() }}</li>
        <li class="table-cell">{{ polis.getOwnerPaspDate()|date("d/m/Y") }} ({{ polis.getOwnerPaspTrueDate()|date("d/m/Y") }})</li>
        <li class="table-cell">{{ polis.getRegCity() }}, {{ polis.getRegStateType() }} {{ polis.getRegState() }}, {{ polis.getRegStreet() }}, {{ polis.getRegNhome() }}, кв {{ polis.getRegNflat() }}</li>
        <li class="table-cell">{{ polis.getRegTerritoryRatio() }}</li>
        <li class="table-cell">{{ polis.getPolisStartDate()|date("d/m/Y") }}</li>
    </ul>
    
    
    
    {# <tr>
        <td>{{ polis.getId() }}</td>
        <td>{{ polis.getTrMake() }}</td>
        <td>{{ polis.getTrModel() }}</td>
        <td>{{ polis.getTrTrueYear() }}</td>
        <td>{{ polis.getTrYear() }}</td>
        <td>{{ polis.getTrPower() }}</td>
        <td>{{ polis.getTrTs() }}</td>
        <td>{{ polis.getTrDocSerya() }}</td>
        <td>{{ polis.getTrDocNumber() }}</td>
        <td>{{ polis.getTrDocDate()|date("d/m/Y") }}</td>
        <td>{{ polis.getTrDocTrue_date()|date("d/m/Y") }}</td>
        <td>{{ polis.getTrVinType() }}</td>
        <td>{{ polis.getTrVinNumber() }}</td>
        <td>{{ polis.getTrCarNumber() }}</td>
        <td>{{ polis.getOwnerName() }}</td>
        <td>{{ polis.getOwnerSurname() }}</td>
        <td>{{ polis.getOwnerMiddlename() }}</td>
        <td>{{ polis.getOwnerNoMiddlename() }}</td>
        <td>{{ polis.getOwnerTrueBirthday()|date("d/m/Y") }}</td>
        <td>{{ polis.getOwnerBirthday()|date("d/m/Y") }}</td>
        <td>{{ polis.getOwnerPaspSerya() }}</td>
        <td>{{ polis.getOwnerPaspNumber() }}</td>
        <td>{{ polis.getOwnerPaspDate()|date("d/m/Y") }}</td>
        <td>{{ polis.getOwnerPaspTrueDate()|date("d/m/Y") }}</td>
        <td>{{ polis.getRegCity() }}</td>
        <td>{{ polis.getRegStateType() }}</td>
        <td>{{ polis.getRegState() }}</td>
        <td>{{ polis.getRegStreet() }}</td>
        <td>{{ polis.getRegNhome() }}</td>
        <td>{{ polis.getRegNflat() }}</td>
        <td>{{ polis.getRegTerritoryRatio() }}</td>
        <td>{{ polis.getPolisStartDate()|date("d/m/Y") }}</td>
    </tr> #}
    {% else %}
        <tr>
            <td>Пусто</td>
        </tr>
    {% endfor %}
{# </table> #}
</div>
{% endblock %}

