    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>

    <form action="{{ path('invoice_edit',{'pinvoiceid': pinvoiceid}) }}" id="pinvoice-form" class="form-horizontal" method="post" >
        <fieldset>

    <!-- data -->
            <div class="row">
                <div class="col-sm-12">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="edit_datable_1" class="table  table-bordered table-striped m-b-0">
                                            <thead>
                                                <tr>
                                                    <th data-title="name">Поставщик</th>
                                                    <th data-title="name">Наименование</th>
                                                    <th data-title="cost" data-editable="1">Цена</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Страх компания 1</td>
                                                    <td>Car</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>Страх компания 1</td>
                                                    <td>Bike</td>
                                                    <td>330</td>
                                                </tr>
                                                <tr>
                                                    <td>Страх компания 1</td>
                                                    <td>Plane</td>
                                                    <td>430</td>
                                                </tr>
                                                <tr>
                                                    <td>Страх компания 1</td>
                                                    <td>Yacht</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>Страх компания 1</td>
                                                    <td>Segway</td>
                                                    <td>330</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                </div>
            </div>
    <!-- /data -->


            <div class="form-actions" style="margin:20px 0 0 0;">
                <a href="#" class="btn">Закрыть</a>
            </div>

        </fieldset>
    </form>
                                            
    
    <script type="text/javascript" src="{{ asset("assets/js/inputMask/jquery.maskedinput.js") }}"></script>
    
    <!-- Data table JavaScript -->
    
    <script src="{{ asset('js/editable-table/mindmup-editabletable.js') }}"></script>
    
    <script type="text/javascript">
        // MASKED INPUT
        $("#o_dateend").mask("99/99/9999", {
            completed: function() {
                //alert("Your birthday was: " + this.val());
            }
        });
        $("#o_datebegin").mask("99/99/9999", {
            completed: function() {
                //alert("Your birthday was: " + this.val());
            }
        });
        
        $('#edit_datable_1').editableTableWidget({editor: $('<input>')}).numericInputExample(); //.find('td:first').focus();
    </script>
    
    
<!-- -------------------------------------- -->
