{% extends 'base.html.twig' %}

{% use 'content.html.twig' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content_stylesheets %}

{% endblock content_stylesheets %}
    
{% block content_javascripts %}

{% endblock content_javascripts %}

{% block block_content %}
                                
    
            <div class="content-wrap">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nest" id="validationClose">
                            <div class="title-alt">
                                <h6>
                                    Редактирование пользователя</h6>
                                {#<div class="titleClose">
                                    <a class="gone" href="#validationClose">
                                        <span class="entypo-cancel"></span>
                                    </a>
                                </div>
                                <div class="titleToggle">
                                    <a class="nav-toggle-alt" href="#validation">
                                        <span class="entypo-up-open"></span>
                                    </a>
                                </div>#}

                            </div>



                            <div class="body-nest" id="validation">
                                <div class="form_center">

                                    <form action="{{ path('user_edit',{'puserid': puser.id}) }}" id="puser-form" class="form-horizontal" method="post" >
                                        <fieldset>
                                            
                                            <div class="row">
                                                <div class="col-sm-4">

                                                    <div class="control-group">
                                                        <label class="control-label" for="name">Фамилия</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_lastname" id="u_lastname" value="{{ puser.getLastname() }}">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="control-group">
                                                        <label class="control-label" for="name">Имя</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_firstname" id="u_firstname" value="{{ puser.getFirstname() }}">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">


                                                    <div class="control-group">
                                                        <label class="control-label" for="name">Отчество</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_patronymic" id="u_patronymic" value="{{ puser.getPatronymic() }}">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-1">

                                                    <div class="control-group">
                                                        <label class="control-label" for="email">ID</label>
                                                        <div class="controls">
                                                            <input style="width: 50px" type="text" class="form-control" readonly="" name="u_id" id="u_id" value="{{ puser.getId() }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">

                                                    <div class="control-group">
                                                        <label class="control-label" for="email">E-mail</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_email" id="u_email" value="{{ puser.getEmail() }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                        
                                            <div class="row">
                                                <div class="col-sm-8">
                                                        
                                                    <div class="control-group">
                                                        <label class="control-label" for="subject">Адрес</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_address" id="u_address" value="{{ puser.getAddress() }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="control-group">
                                                        <label class="control-label" for="subject">Телефон</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_phone" id="u_phone" value="{{ puser.getPhone() }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                               
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="control-group">
                                                        <label class="control-label" for="subject">Организация</label>
                                                        <div class="controls">
                                                            <input type="text" class="form-control" name="u_company_id" readonly="" id="u_company_id" value="{{ puser.getCompany().getCompName() }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_TOPMANAGER')) %}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="control-group">
                                                        <label>Группа прав</label>

                                                    {% for puser_role in puser_roles %}
                                                        <br/><span>
                                                            <span class="{{ puser_role['icon'] }}"></span> <input type="checkbox" name="u_roles[]" id="u_roles" value="{{ puser_role['key'] }}" {% if (puser_role['checked'] == true) %} checked="" {% endif %} />
                                                            &nbsp;&nbsp;&nbsp;&nbsp;<span>{{ puser_role['name']|lower }}</span>
                                                        </span>
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}

                                            <div class="form-actions" style="margin:20px 0 0 0;">
                                            {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_TOPMANAGER')) %}
                                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                            {% endif %}
                                                <a href="{{ path('user_list') }}" class="btn">Назад</a>
                                            </div>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

{% endblock block_content %}
