
{% block header_content %}
    <header class="project-main-header">
        <div class="header-inner  f_header-inner table">
            <div class="logo-box table-cell">
                {# <a href="{{ path('dashboard') }}"><span class="logo-icon"></span>clusoo</a> #}
            </div>
            {# {% block header_search_box %}
                <div class="search-box table-cell">
                    <div class="search-box-inner f_search-container-box">
                        <div class="search-box-open f_search-box-open">
                            <i class="fa fa-search fa-flip-horizontal"></i>
                        </div>
                        <div class="search-container-box f_search-field-box"><input id="searchContainer" class="search-container f_search-container" type="text" placeholder="Type an instagram account name"/></div>
                        <div id="resultBoxContainer" class="result-box-container">
                            <ul class="result-box f_search-result is_hidden"></ul>
                            <div id="searchLimitingPopup" class="limiting-popup f_limiting-popup is_hidden"></div>
                        </div>
                    </div>
                </div>
            {% endblock %} #}
            <div class="header-menu table-cell">
                {% block header_notification_box %}
                    {#<div class="notification-icon">
                        <a href="javascript:void(0);"><span class="count-box">1</span></a>
                    </div>#}
                {% endblock %}
                {% block header_menu_box %}
                    <div class="header-menu-btn f_header-menu-btn-content">
                        <span class="f_header-menu-btn"><i class="fa fa-bars"></i></span>
                        <ul class="header-menu-content f_header-menu-content">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="{{ path('security_logout') }}">Logout</a></li>
                        </ul>
                    </div>
                {% endblock %}
                {% block header_profile_box %}
                    <div class="profile-icon"><a href="{#{ path('influencer_profile') }#}javascript:void(0)" title="{{user.getUsername()}}">
                            {% if instagramUser.getProfilePicture() is defined %}
                                <span style="background-image: url('{{ instagramUser.getProfilePicture() }}')"></span>
                            {% else %}
                                <i class="fa fa-user"></i>
                            {% endif %}
                        </a>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>
{% endblock %}
