{% extends 'base.html.twig' %}

{% use 'content.html.twig' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content_stylesheets %}

{% endblock content_stylesheets %}
    
{% block content_javascripts %}

{% endblock content_javascripts %}

{% block block_content %}
            <div class="content-wrap">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="nest" id="FootableClose">
                            {#<div class="title-alt">
                                <h6>
                                    АКТы и Отчеты</h6>
                                <div class="titleClose">
                                    <a class="gone" href="#FootableClose">
                                        <span class="entypo-cancel"></span>
                                    </a>
                                </div>
                                <div class="titleToggle">
                                    <a class="nav-toggle-alt" href="#Footable">
                                        <span class="entypo-up-open"></span>
                                    </a>
                                </div>

                            </div>#}

                            
                            <div class="body-nest" id="Footable">

                                {#<p class="lead well">FooTable is a jQuery plugin that aims to make HTML tables on smaller devices look awesome - No matter how many columns of data you may have in them. And it's responsive i think this better than DataTable in some way</p>#}
                                <div class="row">
                                    <div class="col-sm-12">

                                        {% if user.getCompany().getType()==1 %}
                                            <a class="btn btn-danger" href="{{ path('invoice_view',{'pinvoiceid': 'new','type': '20'}) }}"><span class="fontawesome-asterisk"></span>АКТ возврата в СК</a>
                                            <a class="btn" href="{{ path('invoice_view',{'pinvoiceid': 'new','type': '10'}) }}"><span class="fontawesome-asterisk"></span>АКТ прихода от СК</a>
                                            <a class="btn" href="{{ path('invoice_view',{'pinvoiceid': 'new','type': '30'}) }}"><span class="fontawesome-asterisk"></span>АКТ передачи Агенту</a>
                                            <a class="btn btn-primary" href="{{ path('invoice_view',{'pinvoiceid': 'new','type': '60'}) }}"><span class="fontawesome-asterisk"></span>Отчет в СК</a>
                                        {% elseif user.getCompany().getType()==3 %}
                                        <div class="body-nest" id="Footable">
                                            <a class="btn btn-danger" href="{{ path('invoice_view',{'pinvoiceid': 'new','type': '40'}) }}"><span class="fontawesome-asterisk"></span>АКТ возврата в Центр</a>
                                            <a class="btn btn-primary" href="{{ path('invoice_view',{'pinvoiceid': 'new','type': '50'}) }}"><span class="fontawesome-asterisk"></span>Отчет в Центр</a>
                                        </div>
                                        {% endif %}
                                        </br>
                                        </br>
                                    </div>
                                </div>


                                <table class="table-striped footable-res footable metro-blue" data-page-size="20">
                                    <thead>
                                        <tr>
                                            <th>
                                                №
                                            </th>
                                            <th>
                                                Дата
                                            </th>
                                            <th>
                                                От
                                            </th>
                                            <th>
                                                Куда
                                            </th>
                                            <th>
                                                Статус
                                            </th>
                                            <th>
                                                Создал
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
    {% for pinvoice in pinvoicelist %}
                                        <tr>
                                            <td data-value="{{ pinvoice.getInvoiceId() }}"><a href="{{ path('invoice_view',{'pinvoiceid': pinvoice.getInvoiceId()}) }}">{{ pinvoice.getInvoiceType().getShortName() }}-{{ pinvoice.getInvoiceId() }}</a></td>
                                            <td>{{ pinvoice.getInvoiceDate()|date("d.m.Y") }}</td>
                                            <td>{{ pinvoice.getCompanyFrom().getCompName() }}</td>
                                            <td>{{ pinvoice.getCompanyTo().getCompName() }}</td>
                                            <td data-value="1">
                                                <span class="status-metro" style="background-color: {{ pinvoice.getInvoiceSign().getColor() }}; color: #2a6496">{{ pinvoice.getInvoiceSign().getShortName() }}</span>
                                            </td>
                                            <td>
                                                {{ pinvoice.getUserCreate().getFio() }}
                                            </td>
                                        </tr>
    {% else %}
        <tr>
            <td colspan="6">
                Пусто
            </td>
        </tr>
    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="10">
                                                <div class="pagination pagination-centered"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </div>


                    </div>

                </div>
            </div>
    
    <!-- GAGE -->
    <script type="text/javascript" src="assets/js/toggle_close.js"></script>
    <script src="assets/js/footable/js/footable.js?v=2-0-1" type="text/javascript"></script>
    <script src="assets/js/footable/js/footable.sort.js?v=2-0-1" type="text/javascript"></script>
    <script src="assets/js/footable/js/footable.filter.js?v=2-0-1" type="text/javascript"></script>
    <script src="assets/js/footable/js/footable.paginate.js?v=2-0-1" type="text/javascript"></script>


    <script type="text/javascript">
    $(function() {
        $('.footable-res').footable();
    });
    </script>
    <script type="text/javascript">
    $(function() {
        $('#footable-res2').footable().bind('footable_filtering', function(e) {
            var selected = $('.filter-status').find(':selected').text();
            if (selected && selected.length > 0) {
                e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                e.clear = !e.filter;
            }
        });

        $('.clear-filter').click(function(e) {
            e.preventDefault();
            $('.filter-status').val('');
            $('table.demo').trigger('footable_clear_filter');
        });

        $('.filter-status').change(function(e) {
            e.preventDefault();
            $('table.demo').trigger('footable_filter', {
                filter: $('#filter').val()
            });
        });

        $('.filter-api').click(function(e) {
            e.preventDefault();

            //get the footable filter object
            var footableFilter = $('table').data('footable-filter');

            alert('about to filter table by "tech"');
            //filter by 'tech'
            footableFilter.filter('tech');

            //clear the filter
            if (confirm('clear filter now?')) {
                footableFilter.clearFilter();
            }
        });
    });
    </script>


{% endblock block_content %}