{% extends 'base.html.twig' %}

{% use 'content.html.twig' %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content_stylesheets %}

{% endblock content_stylesheets %}
    
{% block content_javascripts %}
    <script type="text/javascript" src="{{ asset('js/utils/AjaxRequest.class.js') }}"></script>
{% endblock content_javascripts %}

{% block block_content %}

            <div class="content-wrap">
                <div class="row">

                    <div class="col-sm-12">

                        <div class="nest" id="FootableClose">
                            <div class="title-alt">
                                <h3>
                                {% if pinvoice==null %}
                                    <small>{{ pInvoiceType.getName() }}</small> № {{ pInvoiceType.getShortName() }}- <small>от</small> -
                                {% else %}
                                    <small>{{ pInvoiceType.getName() }}</small> № {{ pInvoiceType.getShortName() }}-{{ pinvoice.getInvoiceId() }} <small>от</small> {{ pinvoice.getInvoiceDate()|date('d.m.Y') }}
                                {% endif %}
                                </h3>

                            </div>

                            <div class="body-nest" id="validation">
                                <div class="form_center">
                                    
                                    {% if pinvoice == null %}
                                        {% set pinvoiceid = 'new' %}
                                    {% else %}
                                        {% set pinvoiceid = pinvoice.getInvoiceId() %}
                                    {% endif %}

                                    <form action="{{ path('invoice_edit',{'pinvoiceid': pinvoiceid}) }}" id="pinvoice-form" class="form-horizontal" method="post" >
                                        <fieldset>
                                                        
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">

                                                        <label class="col-lg-3 col-sm-3 control-label" >От кого</label>
                                                        <div class="col-lg-9">
                                                        {% if fromcompanylist != null %}
                                                            <select class="form-control" name="o_companyfrom" id="o_companyfrom">
                                                            {% for fcompany in fromcompanylist %}
                                                                <option value="{{ fcompany.getCompanyId() }}" 
                                                                        {% if pinvoice.getCompanyFrom().getCompanyId()==fcompany.getCompanyId() %}
                                                                            selected
                                                                        {% endif %}
                                                                        >{{ fcompany.getCompName() }}</option>
                                                            {% endfor %}
                                                            </select>
                                                        {% else %}
                                                            <input type="text" class="form-control" name="o_fiofrom" id="o_fiofrom" value="{{ pinvoice.getFioFrom() }}">
                                                        {% endif %}
                                                        </div>
                                                            
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >Кому</label>
                                                        <div class="col-lg-9">
                                                        {% if tocompanylist != null %}
                                                            <select class="form-control" name="o_companyto" id="o_companyto">
                                                                <option value="" ></option>
                                                            {% for tcompany in tocompanylist %}
                                                                <option value="{{ tcompany.getCompanyId() }}" 
                                                                        {% if pinvoice.getCompanyTo().getCompanyId()==tcompany.getCompanyId() %}
                                                                            selected
                                                                        {% endif %}
                                                                        >{{ tcompany.getCompName() }}</option>
                                                            {% endfor %}
                                                            </select>
                                                        {% else %}
                                                            <input type="text" class="form-control" name="o_fioto" id="o_fioto" value="{{ pinvoice.getFioTo() }}">
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                                        
                                            {% if ptype in [10,20] %}
                                                        
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="form-group">
                                                        <label class="col-lg-3 col-sm-3 control-label" >Доступ</label>
                                                        <div class="col-lg-9">

                                                            <select class="form-control" name="o_person" id="o_person">
                                                                <option value="" ></option>
                                                            {% for person in personlist %}
                                                                <option value="{{ person.getPersonId() }}" 
                                                                        {% if pinvoice.getPerson().getPersonId()==person.getPersonId() %}
                                                                            selected
                                                                        {% endif %}
                                                                        >{{ person.getPersonName() }}</option>
                                                            {% endfor %}
                                                            </select>

                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                            </div>
                                            {% endif %}
                                                        
                                                        
				<!-- data -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                {% if ptype == 10 %}
                                                    <a href="#" class="btn" id="popup_nomen_btn">Номенклатура</a>
                                                {% endif %}
                                                {% if ptype != 10 %}
                                                    <a href="#" class="btn btn-primary" id="popup_prod_btn">Наличие</a>
                                                {% endif %}
                                                    <br/>
                                                    <br/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                                <div class="table-wrap">
                                                                    <div class="table-responsive">
                                                                        <table id="tbl_invoice_data" class="table  table-bordered table-striped m-b-0" data-disabled="0">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th data-title="invoiceDataId" class="hidden">ID</th>
                                                                                    <th data-title="company">Страховая компания</th>
                                                                                    <th data-title="title">Наименование</th>
                                                                                    <th data-title="type">Тип</th>
                                                                                    <th data-title="cost" data-editable="1">Цена</th>
                                                                                    <th data-title="count" data-sum="1" data-editable="1">Кол.</th>
                                                                                    <th data-title="summ" data-sum="1">Сумма</th>
                                                                                    <th data-title="numberFrom" data-editable="1">Номер от</th>
                                                                                    <th data-title="numberTo" data-editable="1">Номер до</th>
                                                                                    <th data-title="dateFrom" data-editable="1">Дата от</th>
                                                                                    <th data-title="dateTo" data-editable="1">Дата до</th>
                                                                                    <th data-title="sel"><a class="btn" id="del_btn" title='Удалить выделенные' href="#"><span class="entypo-trash"></span></a></th>
                                                                                    
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                            {% for pinvoiceData in pinvoice.getInvoiceData() %}
                                                                                {% if pinvoiceData.getActualId() is null %}
                                                                                    <tr>
                                                                                        <td data-name="invoiceDataId" data-value="{{ pinvoiceData.getInvoiceDataId() }}" class="hidden">{{ pinvoiceData.getInvoiceDataId() }}</td>
                                                                                        <td data-name="company" data-value="{{ pinvoiceData.getCompany().getCompanyId() }}">{{ pinvoiceData.getCompany().getCompName() }}</td>
                                                                                        <td data-name="title">{{ pinvoiceData.getTitle() }}</td>
                                                                                        <td data-name="type">
                                                                                            <select>
                                                                                                <option value='1'
                                                                                                        {% if pinvoiceData.getInvoiceDataType().getInvoiceDataTypeId()==1 %}
                                                                                                            selected
                                                                                                        {% endif %}
                                                                                                        >розница</option>
                                                                                                <option value='2'
                                                                                                        {% if pinvoiceData.getInvoiceDataType().getInvoiceDataTypeId()==2 %}
                                                                                                            selected
                                                                                                        {% endif %}
                                                                                                        >партия</option>
                                                                                            </select>
                                                                                        </td>
                                                                                        <td data-name="cost">{{ pinvoiceData.getCost() }}</td>
                                                                                        <td data-name="count">{{ pinvoiceData.getCount() }}</td>
                                                                                        <td data-name="summ">{{ pinvoiceData.getCost()*pinvoiceData.getCount() }}</td>
                                                                                        <td data-name="numberFrom">{{ pinvoiceData.getNumberFrom() }}</td>
                                                                                        <td data-name="numberTo">{{ pinvoiceData.getNumberTo() }}</td>
                                                                                        <td data-name="dateFrom">{{ pinvoiceData.getDateFrom() }}</td>
                                                                                        <td data-name="dateTo">{{ pinvoiceData.getDateTo() }}</td>
                                                                                        <td data-name="sel" data-delete="0" data-nomen="{{ pinvoiceData.getNomen() }}" class="select-data"><input type="checkbox" value=""></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endfor %}

                                                                            </tbody>
                                                                            <tfoot>
                                                                                <tr>
                                                                                    <th class="hidden"></th>
                                                                                    <th><strong>Всего</strong></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                </div>
                                            </div>
				<!-- /data -->
                                                        

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group" style="border-bottom: 1px solid #ccc;">
                                                                <label class="col-lg-3 col-sm-3 control-label" ><small>Создал</small></label>
                                                                <div class="col-lg-9 col-sm-3">
                                                                {% if pinvoice==null %}
                                                                    <h4>{{ user.getFio() }}</h4>
                                                                {% else %}
                                                                    <h5>{{ pinvoice.getUserCreate().getFio() }}</h5>
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group" style="border-bottom: 1px solid #ccc;">
                                                                <label class="col-lg-3 col-sm-3 control-label" ><small>Отправил</small></label>
                                                                <div class="col-lg-9 col-sm-3">
                                                                {% if pinvoice==null %}

                                                                {% else %}
                                                                    <h5>{{ pinvoice.getUserFrom().getFio() }}</h5>
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="form-group" style="border-bottom: 1px solid #ccc;">
                                                                <label class="col-lg-3 col-sm-3 control-label" ><small>Получил</small></label>
                                                                <div class="col-lg-9 col-sm-3">
                                                                {% if pinvoice==null %}

                                                                {% else %}
                                                                    <h5>{{ pinvoice.getUserTo().getFio() }}</h5>
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                                
                                                    </div>
                                                        
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                        
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    
                                                        
                                                </div>
                                            </div>
                                                        
                                            <div class="form-actions" style="margin:20px 0 0 0;">
                                            
                                                {% if submitbtn1 != null %}
                                                    <a href="#" class="btn submit-btn" style=" background-color: {{ submitbtn1.getColor() }}" id="submitbtn1"
                                                       data-sign-id="{{ submitbtn1.getSetInvoiceSignId() }}"
                                                       >{{ submitbtn1.getBtnName() }}</a>
                                                {% endif %}
                                            
                                                {% if submitbtn2 != null %}
                                                    <a href="#" class="btn submit-btn" style=" background-color: {{ submitbtn2.getColor() }}" id="submitbtn2"
                                                       data-sign-id="{{ submitbtn2.getSetInvoiceSignId() }}"
                                                        >{{ submitbtn2.getBtnName() }}</a>
                                                {% endif %}

                                                {% if submitbtn3 != null %}
                                                    <a href="#" class="btn submit-btn" style=" background-color: {{ submitbtn3.getColor() }}" id="submitbtn3"
                                                       data-sign-id="{{ submitbtn3.getSetInvoiceSignId() }}"
                                                       >{{ submitbtn3.getBtnName() }}</a>
                                                {% endif %}

                                                {% if submitbtn4 != null %}
                                                    <a href="#" class="btn submit-btn" style=" background-color: {{ submitbtn4.getColor() }}" id="submitbtn4"
                                                       data-sign-id="{{ submitbtn4.getSetInvoiceSignId() }}"
                                                       >{{ submitbtn4.getBtnName() }}</a>
                                                {% endif %}
                                                
                                                <input type="hidden" name="o_invoiceid" id="o_invoiceid" value="{{ pinvoiceid }}" >
                                                <input type="hidden" name="o_invoicesign" id="o_invoicesign" value="" >
                                                <input type="hidden" name="o_type" id="o_type" value="{{ ptype }}" >
                                                
                                                <a href="{{ path('invoice_list') }}" class="btn">Назад</a>
                                            </div>
                                            
                                            <div class="form-actions" style="margin:20px 0 0 0;">
                                            {% for usersign in invoicesignlist %}
                                                <a href="#" class="btn" style=" background-color: {{ usersign.getColor() }}">{{ usersign.getBtnName() }}</a>
                                            {% endfor %}
                                            
                                            </div>
                                        </fieldset>
                                    </form>
                                            
                                </div>
                            </div>
                                

                        </div>
                                            
                    </div>

                </div>
            </div>

    <script type="text/javascript" src="{{ asset('js/invoice-view.js') }}"></script>

    <script type="text/javascript" src="{{ asset("assets/js/inputMask/jquery.maskedinput.js") }}"></script>
    

    <!-- Data table JavaScript -->
    
    <script src="{{ asset('js/editable-table/mindmup-editabletable.js') }}"></script>
    <script src="{{ asset('js/invoice-view-editabletable.js') }}"></script>
    
    <script type="text/javascript">
        // MASKED INPUT
        $("#o_dateend").mask("99/99/9999", {
            completed: function() {
                //alert("Your birthday was: " + this.val());
            }
        });
        $("#o_datebegin").mask("99/99/9999", {
            completed: function() {
                //alert("Your birthday was: " + this.val());
            }
        });
        
        $('#tbl_invoice_data').editableTableWidget({editor: $('<input>')}).numericInputExample(); //.find('td:first').focus();
    </script>
 
<!-- -------------------------------------- -->
	
 
{% endblock block_content %}

{% block block_popup %}
    {% include 'popup/popup_window.html.twig' %}
    {#<script type="text/javascript" src="{{ asset('js/popup-nomen/popup-nomen.js') }}"></script>#}
{% endblock block_popup %}
