{% extends 'security/security-base.html.twig' %}

{% block stylesheets  %}

    <link rel="stylesheet" href="assets/css/signin.css">

{% endblock %}

{% block body %}

        <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <h1>Полис
                            <span>v1.0</span>
                        </h1>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box">
                        <h3>Изменение пароля</h3>

                        <form role="form" action="#" method="post">

                        {% if success_message_text != '' %}

                            <div class="row">
                                <div class="alert alert-danger">
                                    {{ success_message_text }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="forgotLnk" href="{{ path('security_login_form') }}">Вход</a>
                                </div>
                            </div>
                        {% elseif error_message_text != '' %}
                            <div class="row">
                                <div class="alert alert-danger">
                                    {{ error_message_text }} Please <a class="great" href="{{ path('forgot_password') }}">Try again</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="forgotLnk" href="{{ path('security_login_form') }}">Вход</a>
                                </div>
                            </div>
                        {% else %}

                            <div class="form-group">
                                <!--label for="inputUsernameEmail">E-mail</label-->
                                <input type="password" id="inputUsernameEmail" class="form-control" placeholder="новый пароль" name="_new_password" value="">
                            </div>
                            <div class="form-group">
                                <!--label for="inputUsernameEmail">E-mail</label-->
                                <input type="password" id="inputUsernameEmail" class="form-control" placeholder="повторите пароль" name="_retype_password" value="">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="forgotLnk" href="{{ path('security_login_form') }}">Вход</a>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn btn-primary pull-right" type="submit">
                                        Изменить <span class="entypo-check"></span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">Release 1.0 Powered by © norayrd 2016</h6>
        </div>

{% endblock %}
