{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/login/forgot-password.js') }}"></script>
{% endblock %}
{% block notifyjs %} {% endblock %}

{% block body_class %}act-forgot-password{% endblock %}

{% block header %}
    <header class="project-main-header">
        <div class="header-inner  f_header-inner table">
            <div class="logo-box table-cell">
                {# <a href="{{ path('dashboard') }}"><span class="logo-icon"></span>clusoo</a> #}
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}

    <div class="login-wrapper">
        <div class="login-inner">
            <form action="{{ path('forgot_password') }}" method="post" id="forgot_password_form">
               

                {% if error_message_text != '' %}
                    <div class="alert alert-danger f_alert-message">
                        {{ error_message_text }}
                    </div>
                {% endif %}

                {% if success_message_text != '' %}
                    <div class="alert alert-success">
                        {{ success_message_text }}
                    </div>
                    <div class="registration-block right">
                        <a href="{{ path('security_login_form') }}">back to login</a>
                    </div>
                {% else %}
                     <h1 class="forgot-password-title">Password Reset</h1>
                    <div class="login-form-inner">
                        <div class="form-group">
                            <input type="text" class="form-control required" placeholder="Email Address" id="email" name="_email" value=""/>
                        </div>
                        <ul class="form-actions">
                            <li>
                                <a class="btn btn-info cancel-btn" href="{{ path('security_login_form') }}">
                                    Back
                                </a>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary signup-btn" id="submit_form">
                                    Send
                                </button>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}
