{% extends 'security/security-base.html.twig' %}

{% block title %}Полис V 1.0 - Восстановление пароля{% endblock %}

{% block stylesheets  %}

    <link rel="stylesheet" href="assets/css/signin.css">

{% endblock %}

{% block body %}

        <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <h1>Полис
                            <span>v1.0</span>
                        </h1>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box">
                        <h3>Восстановление пароля</h3>

                {% if error_message_text != '' %}
                    <div class="row">
                        <div class="alert alert-danger">
                            {{ error_message_text }}
                        </div>
                    </div>
                {% endif %}

                {% if success_message_text != '' %}

                    <div class="row">
                        <div class="alert alert-success">
                            {{ success_message_text }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                             <a class="forgotLnk" href="{{ path('security_login_form') }}">Назад</a>
                        </div>
                    </div>

                {% else %}

                        <form role="form" action="{{ path('forgot_password') }}" method="post">
                            <div class="form-group">
                                <!--label for="inputUsernameEmail">E-mail</label-->
                                <input type="text" id="inputUsernameEmail" class="form-control" placeholder="E-mail" name="_email" value="">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="forgotLnk" href="{{ path('security_login_form') }}">Вход</a>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn btn-primary pull-right" type="submit">
                                        Отправить <span class="entypo-mail"></span>
                                    </button>
                                </div>
                            </div>
                        </form>

                {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">Release 1.0 Powered by © norayrd 2016</h6>
        </div>

{% endblock %}
