{% extends 'security/security-base.html.twig' %}

{% block title %}Полис V 1.0 - Вход{% endblock %}

{% block stylesheets  %}

    <link rel="stylesheet" href="assets/css/signin.css">

{% endblock %}

{% block body %}

        <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <h1>Полис
                            <span>v1.0</span>
                        </h1>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box">

                        <form role="form" action="{{ path('security_login_check') }}" method="post">

                            <div class="form-group">
                                <label for="inputUsernameEmail">E-mail</label>
                                <input type="text" id="inputUsernameEmail" class="form-control" name="_username" value="{% if registered_email  is defined  %}{{ registered_email }}{% else %}{{ last_username }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <a href="{{ path('forgot_password') }}" class="pull-right label-forgot">Забыли пароль?</a>
                                <label for="inputPassword">Пароль</label>
                                <input type="password" id="inputPassword" name="_password" class="form-control">
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <input type="hidden" name="_target_path" value="/" />
                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox" name="_remember_me" >Запомнить</label>
                            </div>
                            <button class="btn btn btn-primary pull-right" type="submit">
                                Вход
                            </button>
                        </form>

                        <div class="row-block">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    <a href="{{ path('security_sign_up_form') }}" class="btn btn-primary btn-block">Регистрация*</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">Release 1.0 Powered by © norayrd 2016</h6>
        </div>

{% endblock %}
